@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


@theme {
  
  --color-blue-gray: #5A5F75;
  --color-slate-blue: #4A5568;
  --color-steel-gray: #718096;
  --color-almond: #F5F1E3;
  --color-accent: #DAA520;

  --background: #ffffff;
  --foreground: #171717;

  --font-sans-serif: var(--font-roboto-condensed);
  --font-playfair: var(--font-playfair-display);
  --default-font-family: var(--font-sans-serif);
}


@layer base {
  /* * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  } */
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-playfair);
    @apply text-slate-blue;
  }

  :where(body, p) {
    @apply text-steel-gray;
  }

  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
