@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


/* color palette */
:root {
  --soft-lavender: #f4effc;
  --dusty-lavender: #e2daeb;
  --ink-violet: #1f1135;
  --ink-soft: #1b1425;

  --coral: #ff6e6c;
  --dusty-violet: #67568c;
  --soft-amber: #fbdd74;
}

@theme inline {
  --color-background: var(--soft-lavender);
  --color-foreground: var(--ink-soft);

  --color-heading: var(--ink-violet);
  --color-card-background: var(--dusty-lavender);
  --color-muted-foreground: var(--dusty-violet);

  --color-primary: var(--coral);
  --color-secondary: var(--dusty-violet);
  --color-tertiary: var(--soft-amber);

  --font-sans-serif: var(--font-roboto-condensed);
  --font-playfair: var(--font-playfair-display);
  --default-font-family: var(--font-sans-serif);
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .container {
    @apply w-full max-w-7xl lg:mx-auto px-4;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-playfair);
    @apply text-heading;
  }

  :where(body, p) {
    @apply text-foreground;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
